.bannerImg {
  height: 350px;
  object-fit: cover;
  object-position: center;
}

@media only screen and (min-width: 992px) {
  .bannerImg {
    height: 400px;
  }
}

@media only screen and (min-width: 1200px) {
  .bannerImg {
    height: 450px;
  }
}

@media only screen and (min-width: 1430px) {
  .bannerImg {
    height: 500px;
  }
}

@media only screen and (min-width: 1600px) {
  .bannerImg {
    height: 550px;
  }
}
